ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(100,100,200,0.8);
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: larger;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }


    li.dropdown {
        display: inline-block;
    }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-image: url(main-background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


h1 {
    margin: 5% 15% 0% 15%;
    color: crimson;
    text-align: center;
    background-image: radial-gradient(yellow, lightgreen,orange);
}
p {
    margin: 5% 15% 0% 15%;
    font-size: larger;
    text-shadow: 2px 2px pink;
    text-indent: 50px;
    line-height: 2;
    text-align: justify;
    background-color: rgba(0,240,0,0.3);
    border-radius: 20px;
    box-shadow: 5px 5px purple;
    color: black;
}

@media (max-width:1000px) {
    li {
        float: none;
    }

    ul {
        width: 100%;
    }

    li a, .dropbtn {
        display: block;
    }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        position: relative;
        overflow: auto;
        height: 200px;
    }

        .dropdown-content a {
            text-align: center;
        }
}
   